/* reset and variables*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
    overflow-Y: hidden;
}

a{
    text-decoration: none;
}
::-webkit-scrollbar{
    display: none;
}

/* header */
.l-header{
    width: 100vw;
    position: fixed;
    bottom: 0;
    overflow-x: auto;
    border-bottom: 2rem solid black;
}
.header__list{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}
.header__list__item{
    padding: 2rem;
}
.header__list__item--selected{
    background-color: black;
}
.header__list__link{
    color: red;
}

.l-main{
    width: 500vw;
    height: 100vh;
    display:flex
}
main section{
    width: 100vw;
    background-color: aquamarine;
}
main section:nth-child(even){
    background-color: bisque;
}


